# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Build / Distribution
dist/
build/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/
.tmp/

# Application Specific
config.json
.whispeross/
*.wav

# IDEs
.vscode/
.idea/

# AI Assistants
.gemini/
.claude/
.jules/
gha-creds-*.json

personal run.bat
